@{
    ViewData["Title"] = "Home Page";
    var students = ViewData["students"] as List<StudentModel>;
}

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@

    @*         <h2>Students</h2> *@
    @*         <table class="table table-bordered table-striped"> *@
               
    @*                 <tr> *@
    @*                     <th>rollNo</th> *@
    @*                     <th>Name</th> *@
    @*                     <th>Gender</th> *@
    @*                     <th>Standard</th> *@
    @* </tr> *@
                        
    @*                     @foreach (var item in students) *@
    @*                     { *@
    @*                     <tr> *@
    @*                         <td>@item.rollNo</td> *@
    @*                         <td>@item.name</td> *@
    @*                          <td>@item.Gender</td> *@
    @*                        <td>@item.Standard</td> *@
    @*                     </tr> *@
    @*                 } *@
               
    @*            </table> *@
                        
